<hibernate-configuration>
    <session-factory>
        <!-- allows us to get session objects for connecting to the database -->

        <!-- Database connection  settings  -->
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.url">jdbc:mysql://localhost:3306/javapractise</property>
        <!-- Database credits  -->
        <property name="connection.username">root</property>
        <property name="connection.password">password</property>


        <!-- SQL dialects  -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>


        <!-- Names the annotated entity classes -->
        <mapping class="Client" />
    </session-factory>
</hibernate-configuration>